$color-brand-tag-team-green: #cdf564;
$color-brand-off-blk: #1b1d1f;
$color-brand-off-white: #f1f2f1;
$color-brand-off-grey: #e5e5e5;
$color-brand-dark-grey: #3a3a3c;

$color-homepage-ahri: rgb(248, 183, 255);
$color-homepage-darius: rgb(248, 106, 106);
$color-homepage-ekko: rgb(104, 233, 197);
$color-homepage-yasuo: rgb(89, 154, 201);